<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>User Form</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="../../plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- daterange picker -->
    <link
      rel="stylesheet"
      href="../../plugins/daterangepicker/daterangepicker.css"
    />
    <!-- iCheck for checkboxes and radio inputs -->
    <link
      rel="stylesheet"
      href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- Bootstrap Color Picker -->
    <link
      rel="stylesheet"
      href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css"
    />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
    />
    <!-- Bootstrap4 Duallistbox -->
    <link
      rel="stylesheet"
      href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
   <link
      rel="stylesheet"
      href="../../table.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <br />
    <div class="container">
      <form id="formid" method="POST" enctype="multipart/form-data">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">User Form</h3>
          </div>
          <p style="background-color: green; color: white;">{{msg}}</p>
          <div class="card-body">
            <div class="form-group">
              <label>First Name</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="far fa-square"
                    ></i></span>
                </div>
                <input
                  type="text"
                  name="fname"
                  id="fname"
                  class="form-control"
                  placeholder="Enter First Name"
                />
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Last Name</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="far fa-square"
                    ></i></span>
                </div>
                <input
                  type="text"
                  name="lname"
                  id="lname"
                  class="form-control"
                  placeholder="Enter Last Name"
                />
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <!-- phone mask -->
            <div class="form-group">
              <label>Address</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="fas fa-home"
                    ></i></span>
                </div>
                <textarea
                  name="address"
                  id="address"
                  class="form-control"
                  placeholder="Enter Your Address"
                ></textarea>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Gender</label>
              <div class="input-group">
                <span><input type="radio" name="gender" id="gender" value="male" />Male</span>
              </div>
              <div class="input-group">
                <span><input
                    type="radio"
                    name="gender"
                    id="gender"
                    value="female"
                  />Female</span>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Hobby</label>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="hobby"
                    id="hobby"
                    value="singing"
                  />Singing</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="hobby"
                    id="hobby"
                    value="dancing"
                  />Dancing</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="hobby"
                    id="hobby"
                    value="swimming"
                  />Swimming</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="hobby"
                    id="hobby"
                    value="coding"
                  />Coding</span>
              </div>
              <div class="input-group">
                <span><input
                    type="checkbox"
                    name="hobby"
                    id="hobby"
                    value="other"
                  />Other</span>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Interest Area</label>

              <div class="input-group">

                <select
                  class="form-control select2bs4"
                  style="width: 100%;"
                  name="interestarea"
                  id="interestarea"
                >
                  <option value="Node Js">Node Js</option>
                  <option value="Java">Java</option>
                  <option value="Python">Python</option>
                  <option value="PHP">PHP</option>

                </select>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="form-group">
              <label>Image</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="fas fa-square"
                    ></i></span>
                </div>
                <input
                  type="file"
                  name="image"
                  id="image"
                  class="form-control"
                />
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->
            <input class="btn btn-success" type="submit" value="Add User" />
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </form>
    </div>
<div class="container">
    <table id="table">
  
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
     {{#each user}}
    <tr>
      <td><img src="/uploads/{{image}}" style="width: 100px;" /></td>
      <td>{{fname}}</td>
      <td>{{address}}</td>
      <td>{{gender}}</td>
      <td></td>

    </tr>
    {{/each}}
  
</table>
</div>

    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous" defer></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script
      src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"
    ></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js"></script>
    <script
      src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"
    ></script>
    <!-- date-range-picker -->
    <script src="../../plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script
      src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"
    ></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script
      src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"
    ></script>
    <!-- Bootstrap Switch -->
    <script
      src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"
    ></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <!-- Page script -->

{{!-- jquery validation and ajax call --}}
    <script>
      $(document).ready(function() {
        $("#formid").validate({
          rules: {
             fname: 'required',
           lname: 'required',
           address: {
             required: true,
             minlength: 10,
             maxlength:50
           },
           gender: {
             required: true
           },
           hobby: 'required',
           interestarea: 'required',
         },
         messages: {
           fname: 'First Name is required',
           lname: 'Last Name is required',
           address: {
             lname: 'Last Name is required',
             minlength: 'Address must be at least 10 characters long',
             maxlength: 'Address must be maximum 50 characters long'
           },
           gender: 'Gender field is required',
           hobby: 'Hobby field is required',
           interestarea: 'This field is required',
          },
          submitHandler: function(form, event) {
            event.preventDefault();
            var hobbyArray =[];
            $("#formid input:checkbox:checked").each(function(){
                hobbyArray.push($(this).val()); 
            });
            var formData = new FormData();
            formData.append('image', $('#image')[0].files[0]);

            formData.append('fname', $("#fname").val());
            formData.append('lname', $("#lname").val());
            formData.append('address', $("#address").val());
            formData.append('gender', $("#gender").val());
            formData.append('hobby', hobbyArray);
            formData.append('interestarea', $("#interestarea").val());
            formData.append('image', $('#image')[0].files[0].name);

          // ajax call 
              $.ajax({
                  type: "POST",
                  url: "/userForm",
                  data: formData,
                  processData: false,
                  contentType: false
              }).done(function(data){
                  console.log("data is : ", data); 
              })
          }
        });
      });
    </script>   
  </body>

</html>